*{
	margin: 0px;
	padding: 0px;
}
#wrapper{
	width:970px;
	margin: 0px auto;
	background-color: grey;
	padding-top: 10px;

}

#header{
	height: 80px;
	background-color: #C0C0C0;
	border-radius: 20px;
	padding-left: 20px;
	margin: 0px 40px 25px 10px;
	display: block;
	
}
h1{
	line-height: 80px;
	font-family: 'Arial Bold',sans-serif;
	font-style: bold;

}
#navigation{
	height:370px;
	width:225px;
	background-color:#FFE4E1;
	/*margin: 10px 25px 0px 10px;*/
	margin-left: 10px;

	border-radius: 20px;
	display: inline-block;
	color:blue;
	font-style: bold;
	vertical-align: top;
}
p {
	padding-top: 20px;
	padding-left: 10px;
	

}
.list_I ul{
	padding-left: 25px;
}
.list_I ul li ul{
	padding-left: 17px;

}

#main_content{
	height:510px;
	width:662px;
	background-color:  #ffe6f9;
	display: inline-block;
	border-radius: 20px;
	margin-left: 25px;

}

h2{
	margin-top: 45px;
	margin-left: 20px;
}
.middle p{
	margin-left: 13px;

}
.bottom_l1{
	margin-top: 30px;
	margin-left: 70px;
}

.bottom_l2{
	margin-top: 25px;
	margin-left: 70px;
}
.bottom_l3{
	margin-top: 25px;
	margin-left: 70px;
}
.bottom_l4{
	margin-top: 25px;
	margin-left:70px;
}
.bottom_l5{
	margin-top: 25px;
	margin-left: 70px;
}
#bottom{
	height: 70px;
	width: 915px;
	background-color:#f0e6ff;
	border-radius: 20px;
	margin-left: 10px;
	margin-top: 25px;
}
.first_sentence{
	margin-top: 20px;
}

.second_sentence{
	margin-top: -17px;
}
}