*
{
	font-family: tahoma;
	margin: 0px;
	padding: 0px;
}
#container{
	width: 960px;
	margin: 0px auto;
}
#header{
	height: 150px;
}
	#header ul{
		display: inline-block;
		background-color: #f5f5f5;
		border-radius: 5px;
		border-color: #f2f2f2;
		width:350;
		padding: 2px 5px 5px 5px;
		margin-left: 450px;
		font-size: 5px;
	}
	#header ul li{
		display: inline;
		font-size: small;
		padding: 2px 7px 0px 7px;
		color: gray;
		border-right: 1px solid gray;
	}
	#header ul li:last-child{
		border:none;
	}

	#header button{
		padding: 1px 10px 1px 10px;
		margin-left: 10px;
		background-color: #5173B4;
		color:white;
		border-color: #5173B4;
		border-radius: 3px;
		cursor: pointer;
	}
	#header a{
		text-decoration: none;
		color: grey;
	}

	#header h2{
		background-color: #5173B4;
		color: white;
		height: 40px;
		padding-top: 5px;
		padding-left: 8px;
		margin-top: 10px;
		font-weight: normal;
	}

#logo{
	margin-top: 20px;
	font-family: "Calibri";

}
	
	#logo img, #logo h1{
		display: inline-block;
		vertical-align: top;
	}

	#logo h1{
		
		font-size: 38px;
		color: grey;
	}

	#logo span{
		color: #5CB8E6;
	}

#main_content{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

}

#left_content, #right_content{
	display: inline-block;
	vertical-align: top;
}
	#left_content{
		width: 220px;
		margin: 40px 10px 0px 10px;
		padding-right: 10px;
	}

	#left_content h3{
		color:#5173B4;
		font-size: 16px;
		margin-bottom: 20px;
	}

	#left_content p{
		font-size: 12px;
		margin-bottom: 10px;
	}

	#drive_profits{
		font-weight: bold;
		color: red;
	}

	#no_credit{
		color: grey;
		text-align: center;
		border-bottom:  1px solid grey;
		margin-bottom: 30px;
		padding-bottom: 20px;
	}

	#schedule_demo, #free_trial{
		padding: 5px 35px 5px 35px;
		border-radius: 7px;
		color:white;
		width: 200px;
		border:none;
	}
	#schedule_demo{
		
		background-color: #5173B4;
		margin-bottom: 5px;
	}
	#free_trial{
		
		background-color: #FF6600;
		margin-bottom: 10px;
	}

#left_nav_ad{
	width: 200px;
	color:white;
	width: 200px;
	border:none;
	border:1px solid grey;
	background-color: #F5F5F5;
	margin-left: 5px;
}
	#left_nav_ad h4{
		font-size: 17px;
		padding: 5px;
		color: #5173B4;
	}

	#left_nav_ad p{
		color: grey;
		padding: 5px;
		font-weight: bold;

	}

	#left_nav_ad button{
		border-radius: 5px;
		background-color: #003399;
		color: white;
		margin-left: 24px;
		padding: 2px 18px 2px 18px;
		border:none;
	}

#right_content{
	width: 600px;
	padding-left: 10px;
}

	#breadcrumbs h4, #breadcrumps img#house, #breadcrumbs img#phone,#contacts{
		display: inline-block;
		vertical-align: top;
	}

	#breadcrumbs{
		margin-top: 15px;
		height: 90px;
		border-bottom: 1px solid silver;

	}
	#breadcrumbs h4{
		color: #5173B4;
		font-size: 12px;
		margin-right: 260px;
	}

	#breadcrumbs img#phone{
		margin-right: 5px;
	}

#contacts{
	width: 230px;
}

	#contacts p{
		color: grey;
		font-weight: normal;
	}

	#contacts span{
		color: #5173B4;
		font-size: 20px;
	}

	#right_content h3{
		color: #5173B4;
		font-size: 18px;
		margin: 10px 0px 10px 0px;

	}
	#right_content p{
		font-size: 12px;
	}
	#right_content ul{
		font-size: 12px;
		margin:20px 5px 10px 20px;
	}

	#right_content li{
		margin-top: 10px;
	}
	#right_content span{
		font-weight: bold;
	}
	#right_content a{
		color: #5173B4;
	}

	#right_content h4{
		color: #5173B4;
		font-size:  14px;
		margin-top: 10px;
		margin-bottom: 20px;
	}

#right_content_ad{
	width:570px;
	border: 4px solid #5173B4;
	margin: 20px; 
}
	#right_content_ad img,#ad_content{
		display: inline-block;
		vertical-align: top;

	}

	#right_content_ad img{
		margin: 5px;
	}

#ad_content{
	width: 480px;
	height: 140px;
}

	#ad_content h3{
		font-size: 16px;
	}

	#ad_content p{
		margin-bottom: 10px;
	}

	#ad_content button{
		border-radius: 5px;
		background-color: #92D162;
		color: white;
		padding: 2px 18px 2px 18px;
		border: none;
		height: 30px;
	}